@charset "UTF-8";

/* Baixando Fontes escolhidas do GoogleFonts COMFORTAA. OSWALD, RALEWAY */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Oswald:wght@200;300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Importando fonte baixada que já está na pasta */
@font-face {
    font-family: 'Android';
    src: url('../fonts/idroid.otf') format('opentype');
    font-weight: normal;
}

/*pseudo-class :root Raiz do documento, onde cria as VARIÁVEIS*/
:root {
    --cor0 : #c5ebd6;
    --cor1 : #83e1ad;
    --cor2 : #3ddc84;
    --cor3 : #2fa866;
    --cor4 : #1a5c37;
    --cor5 : #063d1e; 

    --font-padrao : 'Raleway', Helvetica, sans-serif;
    --font-destaque : 'Oswald', cursive;
    --font-android : 'Android', cursive;
    --font-opcional : 'Comfortaa', sans-serif;
}
/* CONFIGURAÇÃO GLOBAL */
* { /* retirar paddings e margins de todos os elementos do HTML */
    margin: 0px;
    padding: 0px;
}

body {
    /*shorthand background*/
    background: var(--cor0) url('../images/wallpaper002.jpg') no-repeat fixed;
    background-size: cover; /*doesnt working in shorthand*/
    height: 100vh;
}

a.external::after {
    content: '\1F517';
}

header {
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
}

header > h1 {
    color: white;
    font-family: var(--font-destaque);
    font-size: 3em;
    font-weight: normal;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.5);

}

header > p {
    color: white;
    font-family: var(--font-padrao);
    font-size: 1em;
    margin: auto;
    max-width: 500px;
    padding: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}

nav {
    background-color: var(--cor5);
    box-shadow: 0px 7px 7px #0000004b;
    color: white;
    padding: 10px;
    font-size: 1em;
}

nav > a {
    color: var(--cor1);
    border-radius: 4px;
    font-family: var(--font-padrao);
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    transition-duration: .3s;
    max-width: 320px;
}

nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}

main {
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    font-family: var(--font-padrao);
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    min-width: 280px;
    max-width: 800px;
}

main p {
    font-family: var(--font-padrao), sans-serif;
    font-size: 1em;
    line-height: 2em;
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
}

main strong {
    color: var(--cor5);
    font-weight: bold;
    padding: 0px 3px;
}

main a {
    background-image: linear-gradient(white, var(--cor2));
    color: var(--cor5);
    font-weight: bold;
    padding: 2px 3px;
    text-decoration: none;
}

main a:hover {
    background-color: black;
    color: var(--cor4);
    text-decoration: underline;
}

main img {
    width: 100%;
}

main img.peq {
    display: block;
    margin: auto;
    max-width: 350px;
}

main h1 {
    background-image: linear-gradient(to right, var(--cor3), transparent);
    color: var(--cor5);
    font-family: var(--font-android);
    font-weight: normal;
    font-size: 1.8em;
    margin: 0px -20px;
    padding: 3px 6px;
    text-indent: 25px;
}

main h2 {
    background-image: linear-gradient(to right, var(--cor2), transparent);
    color: var(--cor4);
    font-family: var(--font-android);
    font-size: 1.3em;
    font-weight: normal;
    text-indent: 8px;
} 

div.background-video {
    background-color: var(--cor5);
    background-image: url('../images/pattern004.png');
    margin: 30px -20px 30px -20px;
    padding: 20px;
}

iframe {
    display: block;
    margin: auto;
    width: 70%;
}

aside {
    background-color: var(--cor2);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 3px 1px #00000042;
}

aside ul {
    columns: 2;
    list-style-position: inside;
    list-style-type: '\2714\0020';
}

aside h3 {
    background-color: var(--cor4);
    border-radius: 10px 10px 0px 0px;
    color: white;
    padding: 5px 10px;
    margin: -10px;
}

aside a {
    border-radius: 5px 5px 0px 0px;
}

footer {
    background-color: var(--cor5);
    color: white;
    font-family: var(--font-destaque);
    font-size: 0.8em;
    font-weight: 200;
    padding: 5px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: var(--cor1);
    font-weight: 400;
    text-decoration: underline;
}